/*To com normalize.css de reset

html, body {
	height: 100%; /*ta na aula 10 do dankicode. É útil para centralizar um elemento na horizontal e vertical totalmente. E essa altura 100% vai servir como referência para ele. GabrielPinheiro que respondeu no discord do colabcode*/	



/*menu.php*/

body {
	padding-top: 70px; /*pra garantir que todo o conteúdo da página aparecerá abaixo do menu fixo. Nada ficará atrás dele lá no topo da página. 70px é a altura do menu*/
	background-color: #F1F2F1;
	font-family: 'Montserrat', sans-serif;
}

nav{
	font-family: 'Lateef', cursive;
    display: flex; /*prof usou aqui mas não fez diferença até agora 10/02/20;*/
	background-color:#31BCD0;
	height: 70px;
	margin: 0 15%;
    width: 70%;
	top: 0;
	position: absolute; /*não sei se vou deixar fixo, se não for deixar tem que tirar o padding-top do body*/
	border-radius: 4px;
	
}

nav i {
	font-size: 30px;
	margin-right: 10px;	
}


ul#menu { /*tive que colocar #menu pra não sofrer interferência da ul das bolinhas do slide*/
	width: 100%;
	margin: 0px 0%;	
	padding-left: 0px; /*ta pegando um padding-left de algum lugar e estragando o menu*/
}

ul#menu li {
	display: inline-block;
	width: 19.837%; /*pra tirar a tira da direita no AGENDAMENTO depois do hover*/
	box-sizing: border-box;
	height: 70px;
	text-align: center;
	margin: 0px;
	line-height: 70px;
	text-decoration: none;
	font-size: 36px;
	color: #F1F2F1; 
	transition: transform 0.6s;
}

ul#menu li:hover {
	background-color: #2D3D4D;
	height: 75px; /*pra compensar os -5px do translateY*/
	color: white; 
	transform: translateY(-5px);
	border-radius: 4px;	
}


/*index.php*/
/*parallax*/
.parallax {
	width: 70%;
	margin: 0 auto;
	height: 400px;
	background-image: url(../imagens/02.jpg); /*este é o caminho pra pegar uma imagem que está num pasta anterior ao local do index*/
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: solid 5px #2D3D4D;
}

img#slidejs {
	width: 100%;	
}

/*Conteúdo*/

div.sobre {
	width: 50%;
	height: auto;
	margin: 100px 25% 0 25%;
	
		
}

div.informacoes h1 {
	color: #8B6354;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 60px; /*distância entre cada bloco de texto*/
	font-family: 'Lateef', cursive;
	font-size: 40px;
}

div.informacoes p {
	letter-spacing: 0px; /*usar letter spacing, de 0.5px por exemplo? Não me parece ser uma boa prática mas fica legal*/
	margin-top: 20px;
	text-align: justify;
	color: #2D3D4D;
	line-height: 27px; /*25 a 30px fica legal, tira a cara de antigo*/
	text-indent: 40px; /*pra fazer parágrafo*/
	font-size: 18px;
}

/*Notícias*/

section#noticias {
	margin: 0 15%;
	padding: 20px 0px;
	display: flex;
	flex-direction: row; /*pra ficar tudo em linha sem precisar usar float!*/
	/*pode ser usado pra ficar bom no responsivo e nunca quebrar mas não sei se vai ser preciso flex-wrap: nowrap;*/
	background-color: #E0DEDE;
	margin-bottom: 100px;
	margin-top: 100px;
	width: 70%;

}

#imagem1{
	
	width: 300px;
	height: 300px;
	background-image: url("../imagens/noticia1.jpg");
	background-position: center;
	background-size: cover;
	
}

#imagem2{
	
	width: 300px;
	height: 300px;
	background-image: url("../imagens/noticia2.jpg");
	background-position: center;
	background-size: cover;
	
}

#imagem3{
	
	width: 300px;
	height: 300px;
	background-image: url("../imagens/noticia3.jpg");
	background-position: center;
	background-size: cover;
	
}

section#noticias h3 {
	background-color: #F1F2F1; 
	color: #8B6354;
}

section#noticias p {
	background-color: #F1F2F1; 
	color: black;
	text-align: center;
	
}

.noticia {
	width: 28.4%;
	background-color: #F1F2F1; 
	margin: 0px 2.5%;
	padding: 20px; /*0px no bottom pra deixar igual a parte de cima*/

}

.noticia input {
	border: none;
	width: 80%;
	height: 60px;
	margin-top: 10px;
	background-color: #31BCD0;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-transform: uppercase;
	border-radius: 4px;	
	transition: transform 0.6s;

}

.noticia input:hover {
	background-color: #2D3D4D;
	transform: translateY(-5px);
	color: white;
	cursor: pointer; /*coloquei aqui porque não tava aparecendo a mãozinha, por algum motivo*/
	

}


/*Slider*/

.contencao {
	margin: 100px auto 40px auto;
	width: 1100px;
	height: 732px;
	background: #000;
	overflow: hidden; /*pra não vazar nada*/
}

#imageBg {
	width: 1100px;
	height: 732px;
	background-size: cover;
	transition: 1s;
}

.anterior, .proximo {
	position: relative;
	margin-top: -426px; /*pra ele subir*/
	width: 65px;
	height: 120px;
	background-color: rgba(49,188,208, 0.6);
	color: #fff;
	font-size: 25px;
	text-align: center;
	line-height: 120px;
	cursor: pointer;
	transition: 0.5s;
}

.anterior {
	float: left;
}

.proximo {
	float: right;
}

.anterior:hover, .proximo:hover {
	background-color: #2D3D4D;
}

 ul#botoes{
	list-style: none;
	width: 150px;
	display: flex;
	margin: 0 auto 50px auto;
	
}

ul#botoes li {
	background-color: #2D3D4D;
	width: 20px;
	height: 20px;
	border-radius: 100%; /*pra ficar redondo*/
	cursor: pointer;
	margin: 0 auto;

}

ul#botoes li.selecionado {
	background-color: #31BCD0;
  }


/*Footer novo*/

div.rodape2 {
	background-color: #F1F2F1;
	width: 70%;
	border: #A16947 4px solid;
	margin: 0 auto;
	letter-spacing: 1px;
	background-image: url(images/suculenta.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #3A603C;

	

}

div.infos{
	display: flex;
	flex-direction: row;
	width: auto;
}

div.contatos {
	margin: 40px 0px 0px 120px;
	/*width: 500px; precisa ser setado caso eu queira aumentar a fonte com o hover. Assim não mexe nas ul do menurodapé*/	
}

div.contatos a {
	text-decoration: none;
	color: #3A603C;
	transition: 0.3s;
	
}

a[href]:hover {
	color: #A16947;
	transform: translateY(-10px);
	
}

div.contatos i {
	font-size: 20px;
	margin-right: 7px;
}


div.menurodape ul {
	margin-top: 30px;
	list-style-type: none;
	margin-left: 300px;

	
}

div.menurodape a {
	text-decoration: none;
	color: #3A603C;
	
}

div#Renata h4 {
	color: black;
	margin-left: 118px;
}


/*Agendar whatsapp*/

#agendar {
	width: 70%;
	margin: 100px auto 0 auto;
}

#whatsapp {
	background-color: #F1F2F1;
	width: 45%; /*é o mínimo pra não quebrar o h2 em duas linhas*/
	margin: 0 auto;	
}

#whatsapp h2 {
	color: #8B6354;
}

#whatsapp a {
	text-decoration: none;
	color: #8B6354;
}

#iconewhatsapp {
	width: 200px;
}

/*Agendar formulário que foi sobrescrito pelo do google ideia de girico do mancho

form {
	background-color: #F1F2F1;
	margin: 100px 0 100px 0;
}

input[type=text], input[type=number], textarea {
	display: block; /*pra ficar um campo abaixo do outro
	margin: 15px 0;
	width: 30%;
}

button {
	margin-top: 30px;
	width: 150px;
	cursor: pointer;
	border: 2px solid grey;
	background-color: white;
	height: 30px;
	
	
	
	
}

button:hover {
	border-color: #3A603C;
	border-radius: 10px;
}*/

#formGoogle {
	width: 70%;
	margin: 100px auto 0 auto;

	
}

iframe {
	margin-left:32.5%;

}

/*ideia do mancho id fantasma gambiarra da porra pra ficar em cima de uns escritos feios do formulário*/
#branco{ 
	margin-top: -5.1%;
	position: absolute; /*pra div ficar na frente do formulário e sobrepor o texto feio*/
	height: 12vh; /*se ajusta ao tamanho da tela, é 12 view height, 12% do tamanho da tela, da visão*/
	width: 100%;
	background-color: #f1f1f1;
	
}

/*LOGIN*/

#acesso {
	width: 70%;
	margin: 100px auto;
	display: flex; /*pra ficar um do lado do outro juntamente com o flex-direction row*/
	flex-direction: row;	
}

#acesso h1 {
	color: #8B6354;
}

#login, #registro {
	width: 49%;
	margin: 0 auto;
}


#registro {
	width: 49%;
	margin: 0 auto;
	
}

#registro input, #login input {
	width: 60%;
	height: 40px;
	margin-bottom: 8px;
	border-radius: 10px;
	border: none;
	font-size: 22px;
}

#acesso button {
	border: none;
	width: 30%;
	height: 60px;
	margin-top: 10px;
	background-color: #31BCD0;
	font-weight: 900;
	color: rgba(255,255,255,1.00);
	text-transform: uppercase;
	border-radius: 4px;	
	transition: transform 0.6s;
	font-size: 18px;
}






























